In [31]:
#import statements
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import sys

In [32]:
#sets directory to access csv file
__file__ = 'data-cleaning.ipynb'
path = os.path.realpath(__file__)
dir = os.path.dirname(path)
dir = dir.replace('src', 'data')
os.chdir(dir)

In [33]:
df = pd.read_csv('framingham.csv')
row, col = df.shape
df.isnull().sum(axis = 0)
df.head()

,lexam,surv,cause,cexam,chd,cva,ca,oth,sex,age,ht,wt,sc1,sc2,dbp,sbp,mrw,smoke
0,13,1,6,0,0,0,0,1,2,29,62.50,140.0,NaN,NaN,78,124,121.0,0.0
1,8,1,5,0,0,0,1,1,2,41,59.75,194.0,NaN,181.0,92,144,183.0,0.0
2,16,0,0,0,0,0,0,0,2,57,62.25,132.0,NaN,250.0,90,170,114.0,10.0
3,16,0,0,0,0,0,0,0,2,39,65.75,158.0,NaN,242.0,80,128,123.0,0.0
4,16,0,0,0,0,0,0,0,1,42,66.00,156.0,NaN,281.0,76,110,116.0,20.0

In [34]:
df = pd.read_csv('combined-heart-data.csv')
row, col = df.shape
df.isnull().sum(axis=0)
df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [35]:
df = pd.read_csv('Heart_Disease_Prediction.csv')
row, col = df.shape
df.isnull().sum(axis=0)
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence